:root {
  /* color */
  --white-color: white;
  --black-color: black;
  --navy-color: rgb(42, 8, 105);
  --orange-color: rgb(214, 169, 19);
  --gray-color: rgb(148, 141, 141);
  /* size */
  /* 위 오른쪽 아래 왼쪽 순 */
  --padding-side: 0px 5px 0px 5px;
  --padding-updown: 3px 0px 3px 5px;
  --padding-updown15: 15px 0px 15px 0px;
  --margin-side: 0px 10px 0px 10px;
  /* font-size */
  --font-large: 3rem;
  --font-medium: 2rem;
  --font-small: 1rem;
  --font-micro: 0.5rem;
  --font-atom: 0.2rem;
}
* {
  background-color: var(--white-color);
  color: var(--navy-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
title {
  font-size: var(--font-large);
  padding-bottom: 40px;
}
li {
  padding: var(--padding-updown15);
}
input {
  border: 1px solid;
}
